.sub_small_nav{
    margin-top:0.5rem;
    margin-bottom: 2rem;
}
.sub_small_nav a{
    color:gray;
    text-decoration: none;

}

.sub_small_nav a:hover{
    text-decoration: underline;
}

.title_ex{
    color:gray;
    font-size: 1.3rem;
}



.branches_map_area{
    padding:20px;
    display: flex;
    
}

.branches{

    width:20%;
    border-radius:12px ;
    border:1px solid rgb(182, 182, 182);
    padding:20px;
    position: relative;
    height: 440px;

}

.branch_lister{
    height: 100%;
   
    
}

.map_area{
    width:80%;
    display: flex;
    justify-content: flex-end;
}

.map_area .map{
    width:95%;
    /* display: block;
    margin:0 auto; */
}
.branch_lister .box{
    float: left;
    width: 100%;
    padding: 15px;
    border-bottom: solid 1px #ddd;
}

.branch_lister .box:hover{
    background-color: lightgray;
}

.branch_lister .box p{
    float:left;
    width:100%;

    font-size: .7rem;
    font-weight: 400;
    font-family: "Lato",sans-serif;
    color: #1f1f1f;
    line-height: 1.45;
    margin: 0 0 .5rem 0;
}

.branch_lister .box strong{
    font-weight: bold;
    padding-right: 8px;
    width:68px;
    float:left;

}

.branch_lister .box span{
    width:64%;
    float:left;
    text-align: left;
}